<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448729054731-u6mth5e7i1c9odf157th70tcd00528c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448729054731-u6mth5e7i1c9odf157th70tcd00528c8</string>
	<key>API_KEY</key>
	<string>AIzaSyDw96ukDZtGMeCX3NXqREPXuqsavFhMczw</string>
	<key>GCM_SENDER_ID</key>
	<string>448729054731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lily.Social-Login</string>
	<key>PROJECT_ID</key>
	<string>social-login-practice-41da7</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-practice-41da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448729054731:ios:cdf313807a36733362510e</string>
</dict>
</plist>